$primary-color: #000;
$red-color: #ee1d32;
$border-color: #c9cfd2;
$nav-color: #929ca1;
$primary-font: 'radikalr';
$bold-font: 'radikalb';
$body-color: #333;
$light-color: #6b6b6b;
$placeholder-color: #bbbbbb;
$body-fontsize: 14px;
$yellow-gradient-one: rgba(254, 204, 31, 1);
$yellow-gradient-two: rgba(255, 161, 11, 1);
$rose-gradient-one: rgba(236, 29, 111, 1);
$rose-gradient-two: rgba(238, 29, 49, 1);
